
body { background:url(../images/bg_pattern.png) repeat; padding:0; margin:0; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#666666; line-height:20px; direction:rtl; overflow-x:hidden; overflow-y:scroll;}

a { color:#ff4036;}
a:hover { text-decoration:underline;}

/* Tools -------------- */
.first-span   { margin-left:0;}
.float-left   { float:left !important;}
.float-right  { float:right !important;}
.no-padding   { padding:0 !important;}
.no-b-padding { padding-bottom:0 !important;}
.no-margin    { margin:0 !important;}
.no-broder    { border:none !important;}
.no-bg        { background:none !important;}

.nospan-margin { margin-left:0;}
.aling-center { text-align:center;}


header { margin:0 0 15px 0; position:relative; height:344px;}

/* Main slider -------------------------*/
#top_caurosel { position:absolute; top:0; left:50%; margin-left:-750px; width:1500px; z-index:1;}
.arrow_holder { position:absolute; width:1022px; left:50%; margin-left:-511px; bottom:93px; height:42px;}
#top_caurosel .carousel-control { margin:0; left:0; top:0; border:none; background:url(../images/left_slider_arrow.png) no-repeat 0 0; width:42px; height:43px; text-indent:-9999em; overflow:hidden; opacity:1;}
#top_caurosel .carousel-control.right { left:auto; right:0;  background:url(../images/right_slider_arrow_hover.png) no-repeat 0 0;}
#top_caurosel .carousel-control:hover { background:url(../images/left_slider_arrow_hover.png) no-repeat 0 1px;}
#top_caurosel .carousel-control.right:hover { background:url(../images/right_slider_arrow.png) no-repeat 0 1px;}
.slide-caption { font-weight:normal; color:#fff; width:350px; margin:0 auto; font-size:50px; line-height:62px; border-top:1px solid #fff; border-bottom:1px solid #fff; padding:15px 0; position:absolute; left:50%;  margin-left:-175px; bottom:35px; text-align:center;}
.slide-caption strong { font-size:54px; display:block;}

/* Main Navigation -------------------------*/
.nav_outer { margin:0 auto; width:1022px; padding:17px 0 15px 0;}
.nav_outer .inside { padding:20px 30px; background:#6fb3da; background:rgba(111, 179, 218, 0.6); -webkit-border-radius:15px; -moz-border-radius:15px; border-radius:15px; min-height:42px; position:relative; z-index:2;}
.main_nav { float:right; list-style:none; padding:0; margin:0;}
.main_nav li { float:left; border-left:1px solid #fff; min-width:100px; text-align:center; color:#fff; line-height:42px;}
.main_nav li a { color:#fff; font-size:16px;}
.main_nav li a:hover { text-decoration:none; color:#f98d4c;}
.main_nav li.logo { width:83px; height:42px; padding:0 0 0 20px; position:relative;}
.main_nav li.logo a { display:block; position:absolute; width:83px; height:68px; text-indent:-9999em; overflow:hidden; top:-15px; right:0; background:url(../images/logo.png) no-repeat right 0;}

/* Search -------------------------*/
.search-site { float:left;}
input.submit_btn { float:left; width:42px; height:42px; cursor:pointer; border:none; background:url(../images/search-icon.png) no-repeat center center #fa8d4c;}
input.keywords { float:left; background:#f2f2f2; padding:10px 10px; width:300px; color:#999; font-size:14px;}


.content { width:1022px; margin:0 auto; padding:0 0 30px 0;}

/* Search Panel -------------------------*/
.search-pannel { margin:0 0 13px 0; border:1px solid #cccccc; -moz-box-shadow: 1px 1px #fff; -webkit-box-shadow: 1px 1px #fff; box-shadow: 1px 1px #fff; min-height:100px; padding:12px;}
.search-inside { background:#fff; -moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2); -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2); box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2); padding:17px 20px 12px 17px; position:relative;}
.search-options-col { list-style:none; padding:0; margin:0; float:right;}
.options-col { float:right; /*width:200px;*/width:188px; padding:0 0 0 10px;}
.options-col.width140 { width:140px; padding:0;}

.options-list { list-style:none; padding:0; margin:0;}
.options-list li { position:relative; display:list-item; padding:0 20px 0 0; margin:0 0 6px 0; color:#9a9a9a;}
.options-list li.dark-gray { color:#545452;}

.options-col h3 { margin:0 0 20px 0; line-height:24px;}
.search-submitter { width:164px; float:left; text-align:left;}
input.submit-options { width:164px; height:108px; background:url(../images/search_button.png) no-repeat 0 0; border:none; cursor:pointer; padding:0; margin:0 0 40px 0;}
input.submit-options:hover { background:url(../images/search_button_hover.png) no-repeat 0 0;}
.search-submitter a { color:#555;}


/* Search Result -------------------------*/
.result-pannel { margin:0 0 35px 0; border:1px solid #cccccc; -moz-box-shadow: 1px 1px #fff; -webkit-box-shadow: 1px 1px #fff; box-shadow: 1px 1px #fff; padding-bottom:12px; position:relative;}
.result-land { position:relative; list-style:none; padding:0; margin:0; overflow:hidden;}
.result-item { float:left; width:254px; border-left:1px solid #cccccc; border-right:1px solid #cccccc; border-bottom:1px solid #cccccc; -moz-box-shadow: 1px 1px #fff; -webkit-box-shadow: 1px 1px #fff; box-shadow:1px 1px #fff; margin-left:-1px;}
.result-padder { padding:12px;}
.result-content { background:#fff; -moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2); -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2); box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);}
.title-bar { background:#6fb3da; padding:6px 7px; line-height:20px; font-size:16px; color:#fff; margin:0;}
.result-content div { padding:7px;}
.result-content .thumb { display:block; margin:0 0 7px 0; width:100%;}
.result-content p { margin:0 0 25px 0; line-height:18px;}
.result-item-btn { display:block; float:left; padding:0 14px; line-height:24px; color:#fff; background:#f88f4d;}
.result-item-btn:hover { color:#fff; text-decoration:none; background:#f07c33;}
.item-chooser { display:block; float:right; line-height:24px; font-size:10px; color:#666;}
.item-chooser input { display:block; float:right; margin:6px 0 0 5px;}

.more-loader { display:block; width:65px; height:65px; background:url(../images/laso-loading.gif) no-repeat 0 0; margin:0 auto; margin-bottom:30px;}


/* Footer -------------------------*/
footer { background:#3d3d3d; width:100%;}
.footer-content { width:1022px; margin:0 auto; padding:42px 0 15px 0;}
.footer-row { margin:0 0 25px 0;}

.social-icons { float:left; list-style:none; padding:0; margin:0;}
.social-icons li { float:left; display:inline; margin:0 14px 0 0;}
.social-icons li a { display:block; float:left; width:32px; height:32px; text-indent:-9999em;}
.social-icons li a.fb { background:url(../images/facebook_icon.png) no-repeat 0 0;}
.social-icons li a.fb:hover { background:url(../images/facebook_icon_hover.png) no-repeat 0 0;}
.social-icons li a.twitt { background:url(../images/tweeter_icon.png) no-repeat 0 0;}
.social-icons li a.twitt:hover { background:url(../images/tweeter_icon_hover.png) no-repeat 0 0;}
.social-icons li a.mail { background:url(../images/mail_icon.png) no-repeat 0 0;}
.social-icons li a.mail:hover { background:url(../images/mail_icon_hover.png) no-repeat 0 0;}

.footer-links { float:right; list-style:none; padding:0; margin:0 -19px 0 0;}
.footer-links li { float:right; padding:0 19px; line-height:32px; background:url(../images/footer-divider.gif) no-repeat left center;}
.footer-links li a { color:#fff;}
.footer-links li a:hover { text-decoration:none; color:#1c8fce;}

.bottom-line { border-top:1px solid #499fce; padding:30px 0 0 0; color:#B3B3B3; font-size:12px;}
.footnote { display:block; float:right;}
.footer-logo { float:left; padding:0 65px 0 0; position:relative;}
.footer-logo img { display:block; position:absolute; top:-17px; right:0;}

.page-scroller { display:block; position:absolute; width:42px; height:43px; background:url(../images/top_arrow.png) no-repeat 0 0; text-indent:-9999em; bottom:0; right:-150px; outline:none !important;}
.page-scroller:hover { background:url(../images/top_arrow_hover.png) no-repeat 0 0;}


.result-rows { list-style:none; padding:0; margin:0 0 35px 0; border-top:1px solid #cfcfcf;}
.result-rows .row-items { background:url(../images/three-line.gif) repeat-x bottom; padding:12px 12px 15px 12px;}
.result-rows .row-items.first { border-top:1px solid #fff;}
.result-rows .row-items.last { background:none; padding-bottom:0;}
.row-items .row-holder { background:#fff; background:#fff; -moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2); -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2); box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2); padding:9px;}
.row-items .thumb { float:right; border-left:1px solid #cccccc; padding:0 0 0 15px; margin:0 0 0 15px;}
.row-items .descrption { float:right; width:530px;}
.descrption h4 { font-weight:normal; font-size:18px; margin:0 0 8px 0;}
.descrption h4 a { color:#e96617;}
.descrption h4 a:hover { color:#e96617;}
.descrption p { margin:0 0 15px 0; line-height:18px;}

.row-button { width:140px; text-align:centere; float:left; padding:40px 0 0 0;}
.row-button .result-item-btn { float:none; margin:0 0 5px 0;}
.row-button .item-chooser { float:none;}
.result-row-box { position:relative;}


.no-slide { height:auto; margin-bottom:35px;}
.datatable { border:1px solid #cccccc; -moz-box-shadow: 1px 1px #fff; -webkit-box-shadow: 1px 1px #fff; box-shadow: 1px 1px #fff;}

.data-thumbs { list-style:none; padding:0; margin:0;}
.data-thumbs li { float:left; width:182px; display:inline; padding:7px 10px 7px 10px; border-left:1px solid #fff; border-right:1px solid #cbcbcb;}
.data-thumbs li.last { border-right:none;}
.data-thumb-item { background:#fff; padding:7px; -moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2); -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2); box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2); position:relative;}
.data-thumb-item img { display:block; margin:0 0 6px 0;}
.data-thumb-item .thumb-caption { display:block; font-size:14px; padding:0 0 10px 0;}
.thumb-captionv a { color:#fb8346;}
.thumb-captionv a:hover { text-decoration:none; color:#000;}

.data-thumb-action { position:absolute; width:100%; height:100%; left:0; top:0; background:#000; background:rgba(0, 0, 0, 0.5); visibility:hidden;}
.data-thumb-action a { position:absolute; display:block; width:86px; height:30px; left:50%; margin-left:-43px; top:50%; margin-top:-15px; background:url(../images/remove_from_comparing.png) no-repeat 0 0;}
.data-thumb-item:hover .data-thumb-action { visibility:visible;}
.data-thumbs li h4 { margin:0 0 10px 0; color:#000; font-size:24px; font-weight:normal;}
.table-title { line-height:24px; padding:6px 12px; background:#6fb3da; color:#fff; font-size:22px; margin:0; border-left:1px solid #fff;}

table.data-statistick { border-collapse:collapse;}
table.data-statistick td { padding:7px 12px; background:#fff; font-size:14px; color:#000; text-align:center; border-left:1px solid #cbcbcb; vertical-align:middle; line-height:24px;}
table.data-statistick tr.even td { background:#f2f2f2;}
table.data-statistick td.first-col { text-align:right; color:#666;}
table.data-statistick td.last-col { border-left:none;}
table.data-statistick td a { color:#fb8346;}
table.data-statistick td a:hover { text-decoration:none; color:#000;}


/* Sub site ---------------------------- */

.subbody { background:#010101;}
.sub-content { margin:0 auto; width:920px; padding:40px 25px; background:url(../images/bg_pattern.png) repeat; moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2); -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2); box-shadow:0 0 140px #fff;}
a.sub-button { display:block; background:#a61414; padding:5px; width:435px; margin:0 auto; margin-bottom:65px; -webkit-border-radius:12px; -moz-border-radius:12px; border-radius:12px;}
a.sub-button span { display:block; border:2px solid #fff; line-height:96px; color:#fff; font-size:72px; text-align:center; -webkit-border-radius:9px; -moz-border-radius:9x; border-radius:9px;}
a.sub-button:hover { background-color:#c42c2f; text-decoration:none;}
.subcontent { border-top:1px solid #cdcdcd;  border-bottom:1px solid #cdcdcd; padding:25px 0;}

.slide-pannel { float:left; width:440px;}
.info-pannel { float:right; width:430px;}

.info-desk { border-bottom:1px solid #cbcbcb; margin:0 0 35px 0;}
.info-desk h3 { font-size:28px; margin:0 0 20px 0;}
.info-desk p { font-size:18px; color:#333333; line-height:22px; margin:0 0 20px 0;}
.info-desk p strong { display:block; font-size:20px; color:#000;}
.subwhite-box { background:#fff; moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2); -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2); box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2); margin-bottom:17px;}

.subwhite-box h4 { border-bottom:1px solid #a91315; line-height:32px; padding:0 15px; color:#000; font-size:18px; margin:0;}
.search-options-col.subwhite-checks { float:none; padding:12px;}
.search-options-col.subwhite-checks .options-col { width:120px;}
.fb-place { float:left;}
.fb-like-plc { display:block; float:right;}
.subwhite-checks .options-list li.dark-gray { font-weight:700;}

.sub-bottom-line { padding:84px 0 0 0; border-top:1px solid #ffffff; clear:both;}
.bottom-title { margin:0 0 17px 0; color:#fff; font-size:18px; padding:0 10px; background:#89c0df; line-height:42px; font-weight:normal;}
.bottom-series { list-style:none; padding:0; margin:0;}
.bottom-series li { float:left; width:127px; margin:0 0 0 71px; display:inline;}
.bottom-series li .thumb { display:block; margin:0 0 10px 0;}
.bottom-series li .caption { display:block; color:#010101; line-height:18px; font-size:14px; font-weight:700;}

.map-trigger-link { display:block; margin:0 auto; width:166px; height:42px; background:url(../images/map_button.png) no-repeat 0 0; text-indent:-9999em;}
.map-trigger-link:hover { background:url(../images/map_button_hover.png) no-repeat 0 0; text-decoration:none;}

.slide-bottom-info { background:#fff; moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2); -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2); box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2); margin:0 auto; width:305px; margin-bottom:25px;}
.slide-bottom-info h4 { background:#a61417; padding:0 14px; line-height:32px; font-size:16px; margin:0; color:#fff;}
.slide-bottom-info > div { padding:10px 14px; color:#3b3b3b; line-height:24px; font-size:16px;}
.slide-bottom-info > div a { color:#f98d4c;}
.slide-bottom-info > div a:hover { color:#f98d4c;}

.carousel-wrapper { margin:0 0 25px 0; clear:both; direction:ltr;}
#bx-pager { margin:0 -1px 0 -9px;}
#bx-pager a { display:block; float:left; margin:0 0 7px 9px;}