<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Admin Panel</title>
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/treeMenu.js"></script>
<link href="css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<table style="height:100%;" width="100%" cellpadding="1" cellspacing="0">
<tr bgcolor="#006699" height="100">
	<td class="admin_text">
    	<h1>Admin Panel</h1>
    </td>
    <td class="right_header" valign="top">
		<a href="#">Home</a> | <a href="#">Logout</a>
    </td>
</tr>
<tr>
	<td colspan="2" valign="top">
    <table width="100%" style="height:100%;" cellpadding="0" cellspacing="0" background="images/bg_body.jpg">
    	<tr>
        	<td class="left" width="20%" valign="top">
            <div class="admin-header">
						Welcome Arif Usman
			</div>
                 <div id="treeMenu">
                            <ul>
                              <li><a href="#" class="parent">Admin Manager</a><span></span>
                                <div>
                                  <ul>
                                    <li><span></span><a href="#">Admin</a></li>
                                    <!--<li><span></span><a href="#">Manage Articles</a></li>
                                    <li><span></span><a href="#">Manage Comments</a></li>
                                    <li><span></span><a href="#">Manage Categories</a></li>-->
                                  </ul>
                                </div>
                              </li>
							  <li><a href="#" class="parent">Member Manager</a><span></span>
                                <div>
                                  <ul>
                                    <li><span></span><a href="#">Member</a></li>
                                   </ul>
                                </div>
                              </li>
                              
							  <li><a href="#">Settings</a><span></span>
                                <div>
                                  <ul>
                                    <li><span></span><a href="#">Payment Methods</a></li>
                                    <!--<li><span></span><a href="#" class="parent">Pneumatic sample transport</a> 
                                      <div>
                                        <ul>
                                          <li><span></span><a href="#">Other links</a></li>
                                          <li><span></span><a href="#">Other links</a></li>
                                          <li><span></span><a href="#">Other links</a></li>
                                          <li><span></span><a href="#">Other links</a></li>
                                          <li><span></span><a href="#">Other links</a></li>
                                          <li><span></span><a href="#">Other links</a></li>
                                        </ul>
                                      </div>
                                    </li>-->
                                    <li><span></span><a href="#">Shipping Settings</a></li>
                                    <!--<li><span></span><a href="#" class="parent">Pulverizing</a>
                                      <div>
                                        <ul>
                                          <li><span></span><a href="#">Other links</a></li>
                                          <li><span></span><a href="#">Other links</a></li>
                                          <li><span></span><a href="#">Other links</a></li>
                                        </ul>
                                      </div>
                                    </li>-->
                                    <!--<li><span></span><a href="#">Fusion</a></li>
                                    <li><span></span><a href="#">Pressing</a></li>
                                    <li><span></span><a href="#">Particle size</a></li>-->
                                    <!--<li><span></span><a href="#" class="parent">Pressing</a>
                                      <div>
                                        <ul>
                                          <li><span></span><a href="#">Other links</a></li>
                                          <li><span></span><a href="#">Other links</a></li>
                                        </ul>
                                      </div>
                                    </li>-->
                                    <!--<li><span></span><a href="#">XRF/XFD automation </a></li>
                                    <li><span></span><a href="#">Linear automated systems </a></li>
                                    <li><span></span><a href="#">Mill control </a></li>
                                    <li><span></span><a href="#">Dust Contol waste management</a></li>-->
                                  </ul>
                                </div>
                              </li>
                              <li><span></span><a href="#" class="parent">Stock Manager </a> 
                                <div>
                                  <ul>
                                    <li><span></span><a href="#">Category Manager</a> 
                                      <!--<div>
                                        <ul>
                                          <li><span></span><a href="#">Other links</a></li>
                                          <li><span></span><a href="#">Other links</a></li>
                                          <li><span></span><a href="#">Other links</a></li>
                                          <li><span></span><a href="#">Other links</a></li>
                                          <li><span></span><a href="#">Other links</a></li>
                                        </ul>
                                      </div>-->
                                    </li>
                                    <li><span></span><a href="#">Product Manager</a>
                                      <!--<div>
                                        <ul>
                                          <li><span></span><a href="#">Other links</a></li>
                                          <li><span></span><a href="#">Other links</a></li>
                                          <li><span></span><a href="#">Other links</a></li>
                                          <li><span></span><a href="#">Other links</a></li>
                                          <li><span></span><a href="#">Other links</a></li>
                                        </ul>
                                      </div>-->
                                    </li>
                                  </ul>
                                </div>
                              </li>
                              <li><a href="#" class="parent">Orders</a><span></span>
                                <div>
                                  <ul>
                                    <li><span></span><a href="#">Order Manager</a>
                                      <!--<div>
                                        <ul>
                                          <li><span></span><a href="#">Other links</a></li>
                                          <li><span></span><a href="#">Other links</a></li>
                                          <li><span></span><a href="#">Other links</a></li>
                                        </ul>
                                      </div>-->
                                    </li>
                                    <!--<li><span></span><a href="#">Iron ore</a>-->
                                      <!--<div>
                                        <ul>
                                          <li><span></span><a href="#">Other links</a></li>
                                          <li><span></span><a href="#">Other links</a></li>
                                          <li><span></span><a href="#">Other links</a></li>
                                        </ul>
                                      </div>-->
                                    <!--</li>
                                    <li><span></span><a href="#">Base metals</a>-->
                                      <!--<div>
                                        <ul>
                                          <li><span></span><a href="#">Other links</a></li>
                                          <li><span></span><a href="#">Other links</a></li>
                                          <li><span></span><a href="#">Other links</a></li>
                                        </ul>
                                      </div>-->
                                    <!--</li>
                                    <li><span></span><a href="#">Heavy minerals</a>-->
                                      <!--<div>
                                        <ul>
                                          <li><span></span><a href="#">Other links</a></li>
                                          <li><span></span><a href="#">Other links</a></li>
                                          <li><span></span><a href="#">Other links</a></li>
                                        </ul>
                                      </div>-->
                                    <!--</li>
                                    <li><span></span><a href="#">Uranium</a> -->
                                      <!--<div>
                                        <ul>
                                          <li><span></span><a href="#">Other links</a></li>
                                          <li><span></span><a href="#">Other links</a></li>
                                        </ul>
                                      </div>-->
                                    <!--</li>-->
                                  </ul>
                                </div>
                              </li>
                            </ul>
				 </div>
            </td>
            <td width="82%" bgcolor="#FFFFFF" valign="top">
            <div class="right_content">
            
            <h4 class="alert success">A Success Message</h4>
                <h4 class="alert error">A Error Message</h4>
            	<div class="content-box">
                	<div class="content-box-header">
						<h3 style="cursor: s-resize; ">Content Form</h3>
					</div>
                    <form class="datagrid_form" name="datagrid_form" action="" method="post">
                   		<table class="formbox">
                        	<tr>
                            	<td><label>Name</label></td>
                                <td><input type="text" name="name" /></td>
                            </tr>
                            <tr>
                            	<td><label>E-mail</label></td>
                                <td><input type="text" name="name" /></td>
                            </tr>
                            <tr>
                            	<td><label>Address</label></td>
                                <td><textarea name="textares"></textarea></td>
                            </tr>
                            <tr>
                            	<td><label>Name</label></td>
                                <td>
                                <input type="checkbox" name="a[]" value="1" />A
                                <input type="checkbox" name="a[]" value="1" />B
                                <input type="checkbox" name="a[]" value="1" />C
                                <input type="checkbox" name="a[]" value="1" />D
                                </td>
                            </tr>
                            <tr>
                            	<td><label>Gender</label></td>
                                <td>
                                <input type="radio" name="a" value="1" />Male
                                <input type="radio" name="a" value="2" />Female
                                </td>
                            </tr>
                            <tr>
                            	<td></td>
                                <td><input type="submit" class="button" name="submit" value="Submit" /></td>
                            </tr>
                        </table>
					</form>	
                 </div>
                <div class="content-box">
                	<div class="content-box-header">
						<h3 style="cursor: s-resize; ">Content box</h3>
					</div>
                    <form name="datagrid_form" action="" method="post">
                   <table class="datagrid" cellspacing="1" bgcolor="#999999" cellpadding="0">
							<thead>
								<tr>
								   <th><input class="check-all" type="checkbox"></th>
								   <th>Column 1</th>
								   <th>Column 2</th>
								   <th>Column 3</th>
								   <th>Column 4</th>
								   <th>Column 5</th>
								</tr>
								
							</thead>
						 
							<tfoot>
								<tr>
									<td colspan="6">
										<input type="submit" class="button" name="submit" value="Delete All" />
									</td>
								</tr>
							</tfoot>
						 
							<tbody>
								<tr class="even">
									<td align="center"><input type="checkbox"></td>
									<td>Lorem ipsum dolor</td>
									<td><a href="#" title="title">Sit amet</a></td>
									<td>Consectetur adipiscing</td>
									<td>Donec tortor diam</td>
									<td>
										<!-- Icons -->
										 <a href="#" title="Edit"><img src="images/icons/pencil.png" alt="Edit"></a>
										 <a href="#" title="Delete"><img src="images/icons/cross.png" alt="Delete"></a> 
										 <a href="#" title="Edit Meta"><img src="images/icons/hammer_screwdriver.png" alt="Edit Meta"></a>
									</td>
								</tr>
								
								<tr class="odd">
									<td align="center"><input type="checkbox"></td>
									<td>Lorem ipsum dolor</td>
									<td><a href="#" title="title">Sit amet</a></td>
									<td>Consectetur adipiscing</td>
									<td>Donec tortor diam</td>
									<td>
										<!-- Icons -->
										 <a href="#" title="Edit"><img src="images/icons/pencil.png" alt="Edit"></a>
										 <a href="#" title="Delete"><img src="images/icons/cross.png" alt="Delete"></a> 
										 <a href="#" title="Edit Meta"><img src="images/icons/hammer_screwdriver.png" alt="Edit Meta"></a>
									</td>
								</tr>
								
								<tr class="even">
									<td align="center"><input type="checkbox"></td>
									<td>Lorem ipsum dolor</td>
									<td><a href="#" title="title">Sit amet</a></td>
									<td>Consectetur adipiscing</td>
									<td>Donec tortor diam</td>
									<td>
										<!-- Icons -->
										 <a href="#" title="Edit"><img src="images/icons/pencil.png" alt="Edit"></a>
										 <a href="#" title="Delete"><img src="images/icons/cross.png" alt="Delete"></a> 
										 <a href="#" title="Edit Meta"><img src="images/icons/hammer_screwdriver.png" alt="Edit Meta"></a>
									</td>
								</tr>
								
								<tr class="odd">
									<td align="center"><input type="checkbox"></td>
									<td>Lorem ipsum dolor</td>
									<td><a href="#" title="title">Sit amet</a></td>
									<td>Consectetur adipiscing</td>
									<td>Donec tortor diam</td>
									<td>
										<!-- Icons -->
										 <a href="#" title="Edit"><img src="images/icons/pencil.png" alt="Edit"></a>
										 <a href="#" title="Delete"><img src="images/icons/cross.png" alt="Delete"></a> 
										 <a href="#" title="Edit Meta"><img src="images/icons/hammer_screwdriver.png" alt="Edit Meta"></a>
									</td>
								</tr>
								
								<tr class="even">
									<td align="center"><input type="checkbox"></td>
									<td>Lorem ipsum dolor</td>
									<td><a href="#" title="title">Sit amet</a></td>
									<td>Consectetur adipiscing</td>
									<td>Donec tortor diam</td>
									<td>
										<!-- Icons -->
										 <a href="#" title="Edit"><img src="images/icons/pencil.png" alt="Edit"></a>
										 <a href="#" title="Delete"><img src="images/icons/cross.png" alt="Delete"></a> 
										 <a href="#" title="Edit Meta"><img src="images/icons/hammer_screwdriver.png" alt="Edit Meta"></a>
									</td>
								</tr>
								
								<tr class="odd">
									<td align="center"><input type="checkbox"></td>
									<td>Lorem ipsum dolor</td>
									<td><a href="#" title="title">Sit amet</a></td>
									<td>Consectetur adipiscing</td>
									<td>Donec tortor diam</td>
									<td>
										<!-- Icons -->
										 <a href="#" title="Edit"><img src="images/icons/pencil.png" alt="Edit"></a>
										 <a href="#" title="Delete"><img src="images/icons/cross.png" alt="Delete"></a> 
										 <a href="#" title="Edit Meta"><img src="images/icons/hammer_screwdriver.png" alt="Edit Meta"></a>
									</td>
								</tr>
								
								<tr class="even">
									<td align="center"><input type="checkbox"></td>
									<td>Lorem ipsum dolor</td>
									<td><a href="#" title="title">Sit amet</a></td>
									<td>Consectetur adipiscing</td>
									<td>Donec tortor diam</td>
									<td>
										<!-- Icons -->
										 <a href="#" title="Edit"><img src="images/icons/pencil.png" alt="Edit"></a>
										 <a href="#" title="Delete"><img src="images/icons/cross.png" alt="Delete"></a> 
										 <a href="#" title="Edit Meta"><img src="images/icons/hammer_screwdriver.png" alt="Edit Meta"></a>
									</td>
								</tr>
								
								<tr class="odd">
									<td align="center"><input type="checkbox"></td>
									<td>Lorem ipsum dolor</td>
									<td><a href="#" title="title">Sit amet</a></td>
									<td>Consectetur adipiscing</td>
									<td>Donec tortor diam</td>
									<td>
										<!-- Icons -->
										 <a href="#" title="Edit"><img src="images/icons/pencil.png" alt="Edit"></a>
										 <a href="#" title="Delete"><img src="images/icons/cross.png" alt="Delete"></a> 
										 <a href="#" title="Edit Meta"><img src="images/icons/hammer_screwdriver.png" alt="Edit Meta"></a>
									</td>
								</tr>
							</tbody>
							
						</table>
					</form>	
                 </div>  
                 
                   
                 
				
					
				</div>
            </div>
            </td>
        </tr>
    </table>
    </td>
</tr>
</table>
</body>
</html>